aiohttp (2.0.5)
async-timeout (1.2.0)
beautifulsoup4 (4.5.3)
chardet (2.3.0)
multidict (2.1.4)
nltk (3.2.2)
pip (9.0.1)
psycopg2 (2.7.1)
requests (2.12.5)
setuptools (32.2.0)
six (1.10.0)
textblob (0.12.0)
wheel (0.29.0)
yarl (0.10.0)
